*password
root.my.cnf
valportaal.my.cnf
dbconfig.env
db-scripts.env
valportaal-static/ejs.3-1-6.js


node_modules
package-lock.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
