body {
    font-family: Arial, sans-serif;
}
.section_header{
	font-size: large;
	font-weight: bold;
	color: #75b94e;
	margin-top: 30px;
}
.page_header{
	background-color: #ced9e5;
	font-size: x-large;
	font-weight: bold;
	width: 100%;
}