body {
	font-family: Arial, sans-serif;
	/* font-family: 'Trebuchet MS', Arial; 
	font-size: 30px; */
}

.nav {
	background-color: rgba(206, 217, 229, 1);
	color: rgba(0, 55, 65, 1);
	margin: auto;
	margin-bottom: 1em;
	padding-bottom: 2em;
	width: 95%;
	padding-top: 10px;
	display: block;
}

.nav-logo {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.nav-logo-box {
	background: url("assets/umc-logo.png") center no-repeat;
	background-size: 12em;
    width: 12em;
	height:	2em;
	background-color: rgba(255, 255, 255, 1);
	border-color: rgba(112, 112, 112, 1);
	border-style: none;
	border-width: 1.00px;
	border-radius: 71.00px;
	z-index: 1;
}

.nav-title {
	color: rgba(240, 120, 20, 1);
	font-size: large;
	font-style: italic;
	padding-top: 10px;
	z-index: 1;
}

.nav-button-box {
	display: flex;
	justify-content: space-around;
	background-color: white;
	width: 95%;
	margin-left: 2.5%;
	margin-bottom: 1em;
}

.nav-button {
	width:80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5em;
	
}
.nav-img{
	width:80%;
}

.nav-icon-text {
	padding-top: 0.5em;
	white-space: nowrap;
}

.text-red {
	color: red;
}

.bluedot{
	color: blue;
}
.nocolor{
	color: auto;
}

.content {
	display:flex;
	flex-direction: column;
	margin-left: 100px;
}

h3 {
	color: rgba(240, 120, 20, 1);
}
h4 {
	/* text-decoration: bold; */
}
h5 {
	color: rgba(240, 120, 20, 1);
}

.sideeffects {
	display: flex;
	padding: 30px;

}

.sideeffects-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.button-box {
	display: flex;
	justify-content: space-around;
	width: 50%;
	padding: 20px;
}
.button {
	max-width: 10em;
	border-radius: 2em;
	border-style: none;
	filter: drop-shadow(0px 6px 8px rgba(0, 0, 0, 1));
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgba(0, 55, 65, 1);
	text-decoration: none;
}
.button-text{
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

/* items below this line are NOT YET CHECKED */

.brochure-box {
display:flex; 
flex-direction: column;
}

.brochure-box-row {
	display:flex; justify-content: space-around
}

.brochure-item {
	margin:20px; text-align:center;
}

.brochure-item-img {
	border:1px solid black;
}
.brochure-item-text {
	text-decoration: none; color:rgba(0, 55, 65, 1);
}


.footer {
	font-size: 28.00px;

	margin: auto;
	width: 95%;

	display: flex;
	justify-content: center;
	padding: 30px;
	margin-top: 30px;
	
	border-top: 1px solid rgba(112, 112, 112, 1);

	background-color: rgba(206, 217, 229, 1);
}





/* for advice page */

.section_header{
	font-size: large;
	font-weight: bold;
	color: #75b94e;
	margin-top: 30px;
}
.page_header{
	background-color: #ced9e5;
	font-size: x-large;
	font-weight: bold;
	width: 100%;
}
.patient_nonmed_category{
	display: none;
}
div.gauge_background {
    width:80%;
    height: 0px;
    padding-bottom: 8%;
    /* set "good", "warn", and "critical" thresholds specifically */
    background: linear-gradient(to right, #0F0 5%, #FF0 10%, #F00 30%);
    display: inline-block;
    margin-bottom: 3ex;
}

div.gauge_line {
    width: calc(0.4% + 1px);
    margin-left: calc(-(0.4% / 2 + 0.5px));
    margin-right: calc(-(0.4% / 2 + 0.5px));
    padding-bottom: calc(10% + 1ex);
    padding-left: 0;
    padding-right: 0;
    background: #000;
    position: relative;
    top: -0.5ex;
    display: inline-block;
}
div.gauge_text_left {
    position: relative;
    top: 10px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}
div.gauge_text_right {
    position: relative;
    margin: 0px;
    padding: 0px;
    top: 10px;
    left: calc(100% - 17ch - 1em);
    display: inline-block;
}

/* for login page */
.login {
	height:110px;
	width:200px;
	margin:auto;
	border:1px rgb(112, 112, 112) solid;
	margin-top: 40px;
	padding:10px;
	background-color: rgba(206, 217, 229, 1);
}
.login input {
	padding:5px;
	margin:5px
 }
